* {
    outline: none!important;
}

body{
    background: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.hidden{
    display:none!important;
}

#all{
    height: 100vh;
    width: calc(100vw - 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15%;
    flex-wrap: wrap;
}

#all h1{
    font-size: 4rem;
    font-weight: 700;
    width: 100%;
}

#all button{
    position: relative;
    float: left;
    width: 300px;
    background-color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 45px;
    cursor: pointer;
    height: 70px;
    transition: all 0.25s;
}

#all button:hover{
    background-color: #333;
    color: white;
}


#unsupported {
    height: 100vh;
    width: calc(100vw - 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15%;
}

#unsupported .message {
    font-size: 4rem;
    font-weight: 700;
}